<!doctype html>
<html>
  <head>
      <title>Escape the Room Timer</title>
      <link rel="stylesheet" href="/css/timer.css">
	      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
		  <script src=/js/timer.js></script>
		        </head>
			  <body>
			      {{{body}}}
			        </body>
				</html>

